<% if logged_in? %>	
  <p>ログイン完了ユーザ: <%= current_user.name %></p>	
  <% if current_user.admin? %>
    <%= link_to 'さあ始めよう', new_image1_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to '商品を登録しよう', new_product_path, class: 'btn btn-lg btn-primary' %>
    <%= javascript_pack_tag 'hello_vue' %>
  <% end %>
<% else %>	
  <div class="center jumbotron">	
    <div class="text-center">	
      <h1>Welcome to the Microposts</h1>	
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>	
    </div>	
  </div>
<% end %>	

