<%= form_with(model: image1, local: true) do |form| %>
  <% if image1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image1.errors.count, "error") %> prohibited this image1 from being saved:</h2>

      <ul>
      <% image1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
