<p id="notice"><%= notice %></p>

<h1>Image1s</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image1s.each do |image1| %>
      <tr>
        <td><%= image1.image %></td>
        <td><%= link_to 'Show', image1 %></td>
        <td><%= link_to 'Edit', edit_image1_path(image1) %></td>
        <td><%= link_to 'Destroy', image1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image1', new_image1_path %>
