<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image.url if @product.image?%>
</p>
<%= render 'relationships/purchase_button', product: @product %> 

<%= link_to 'ユーザーページ', user_path, class: 'btn btn-lg btn-primary' %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
